.rbc-time-content {
    display: none;
}

.rbc-time-header-gutter {
	display: none;
}

.rbc-row-content {
	min-height: 100px;
}

@media (max-width: 768px) {
    .animated{
        font-size: 0.7em;
    }

    .container-fluid {
        padding: 0px !important; 
    }

}