.ShowTable th {
    width: 160px;
}

.ShowTable td {
    width: 350px;
}

.col h3{
    margin-left: 10px;
    display: inline
}

@media (max-width: 1024px) {
    .ShowTable tr,
    .ShowTable td,
    .ShowTable th {
        display: block;
        width: 100%;
    }
  
    .ShowTable th {
        text-align: left;
    }

    .animated{
        font-size: 0.7em;
    }

    .list-hidden {
        display: none;
    }

    .container-fluid {
        padding: 0px !important; 
    }

    .popup-content {
        width: 100% !important;
    }

}