.customer-cardbody, .product-cardbody {
    height: 500px;
}

.list-hidden > .badge {
	font-size: 1.0em
}

.datepicker {
	width: 200px;
	cursor: pointer;
	text-align: center;
}

.date {
	float: right;
	margin-right: 30px;
}

.search {
	display: inline-block;
	width: 30%;
	float: right;
}

.card {
	min-width: 1000px;
}

@media (max-width: 1024px) {
    .ShowTable td,
    .ShowTable th {
      display: block;
      width: 100%;
      border: 0;
    }

    .ShowTable th {
      text-align: left;
    }
    .animated{
        font-size: 0.8em;
    }

    .list-hidden {
        display: none !important;
    }

    .container-fluid {
        padding: 0px !important; 
    }

    .nav-tabs > .nav-item a {
        font-size: 15px !important;
    }
    
    .popup-content {
        width: 100% !important;
    }

    .popup-content > .animated > .card {
        margin-bottom: 0;
    }

    .customer-cardbody, .product-cardbody {
        height: 400px;
    }

    .customer-modal {
        display: inline-block;
    }

    .customer-modal th {
        display: inline-block;
        border-bottom: 1px solid lightgray;
        width: 160px;
        text-align: center;
    }
    
    .customer-modal td {
        display: inline-block;
        text-align: center;
        width: 160px;
    }
}