.datepicker {
	width: 200px;
	cursor: pointer;
	text-align: center;
}

.date {
	float: right;
	margin-right: 30px;
}

.search {
	display: inline-block;
	width: 30%;
	float: right;
}

.card {
}

@media (max-width: 768px) {
    .ShowTable tr,
    .ShowTable td,
    .ShowTable th {
      display: block;
      width: 100%;
      border: 0;
    }

    .ShowTable th {
      text-align: left;
    }
    
    .animated{
        font-size: 0.7em;
    }

    .list-hidden {
        display: none;
    }

    .container-fluid {
        padding: 0px !important; 
    }
}