.list-productFamily {
    float: left;
    margin: 10px;
    width: calc((100% - 20px) / 6);
    border: 1px solid ;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
