.category-top {
    background-color: #fff;
    margin-top: 20px;
    text-align:center;
}

.category-top th{
  border: 1px solid lightgray;
  text-align: center;
  width: 160px;
}

.category-top td{
  border: 1px solid lightgray;
}

.list-productfamily {
  width: calc((100% - 80px) / 8); 
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  } 

.img-product {
  overflow: hidden;
  height: 300px;
}
@media (min-width: 769px) and (max-width: 1024px) {
	.img-product {
		overflow: hidden;
		height: 180px;
	}
}
@media (max-width: 1024px) {
  .ShowTable tr,
  .ShowTable td,
  .ShowTable th {
      display: block;
      width: 100%;
      border: 0;
  }

  .ShowTable th {
      text-align: left;
  }
  
  .animated{
    font-size: 0.7em;
  }

  .list-productfamily{
    width: calc((100% - 20px) / 5); 
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .list-productfamily-ul{
    padding: 0px !important;
  }
  
  .container-fluid {
    padding: 0px !important; 
  }

  .card-body{
    padding: 5px !important; 
  }

  .button-product{
    font-size: 0.8em;
  }

  .list-productfamily:nth-child(5n) {
    margin-right: 0px;
  }

  .button-list, .button-card{
    display: none !important;
  }

  .card-product {
    width: 50% !important;
  }

  .img-product {
    height: 200px;
  }

  .input {
    -webkit-appearance: none;
    }
}