.list-productFamily {
    float: left;
    margin: 10px;
    width: calc((100% - 20px) / 6);
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .ShowTable tr,
    .ShowTable td,
    .ShowTable th {
        display: block;
        width: 100%;
    }
  
    .ShowTable th {
        text-align: left;
    }

    .animated{
        font-size: 0.7em;
    }

    .list-hidden {
        display: none;
    }

    .container-fluid {
        padding: 0px !important; 
    }

    .nav-tabs > .nav-item a {
        font-size: 15px !important;
    }
    
    .list-productFamily {
        width: calc((100% + 20px) / 4);
    }

    .ul-productFamily {
        margin: 0px;
        padding: 0 0 0 10px;
    }

}