.card-setting {
    width: 40%;
    margin: auto;
}
@media (max-width: 768px) {
    .ShowTable tr,
    .ShowTable td,
    .ShowTable th {
        width: 100%;
    }
  
    .ShowTable th {
        text-align: left;
    }

    .animated{
        font-size: 0.7em;
    }

    .list-hidden {
        display: none;
    }

    .container-fluid {
        padding: 0px !important; 
    }

    .card-setting {
        width: 100% !important;
    }

}