.category-top {
    background-color: #fff;
    margin-top: 20px;
    text-align:center;
}

.category-top th{
  border: 1px solid lightgray;
  text-align: center;
  width: 160px;
}

.category-top td{
  border: 1px solid lightgray;
}

.plant-cardbody {
    height: 500px;
}

.list-plant {
	cursor: pointer;
	width: calc((100% - 20px) / 8)
}

.list-productfamily {
    width: calc((100% - 80px) / 8); 
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    } 

.table {
	table-layout: fixed;
}

@media (max-width: 768px) {
    .ShowTable tr,
    .ShowTable td,
    .ShowTable th {
        display: block;
        width: 100%;
        border: 0;
    }
  
    .ShowTable th {
        text-align: left;
    }
    

    .animated{
        font-size: 0.6em;
    }

    .list-hidden {
        display: none;
    }

    .container-fluid {
        padding: 0px !important; 
    }

    .popup-content {
        width: 100% !important;
    }

    .plant-cardbody {
        height: 400px;
    }
}