.ShowTable {
	text-align: center;
}
.ShowTable th{
    border: 1px solid lightgray;
    text-align: center;
    width: 160px;
}

.ShowTable td{
    border: 1px solid lightgray;
}

.ListTable td{
	cursor: pointer;
	vertical-align: middle
}

@media (max-width: 768px) {
}