.transaction td {
    border: 1px solid black;
    padding : 10px;
  }
  
  .transaction {
    margin: auto;
    display: block;
    width: 1000px;
  }

  .post-card {
    background-color: #fff;
  }

  .post-title {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
  }

  .post-footer {
    margin-top: 15px;
  }