@font-face { font-family: 'ON-IGothic';
     src: url('../font/ONI_GOTHIC.woff') format('woff'); 
     font-weight: normal; 
     font-style: normal; 
    } 

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
 .nanumgothic * { font-family: 'Nanum Gothic', sans-serif;}
  body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
  }