#ShowTable th{
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    text-align: center;
}

#TableBottom {
    border-bottom: 1px solid lightgray;
}

#TableRight {
    border-right: 1px solid lightgray;
}
