.ShowTable th{
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    text-align: center;
    height: 60px;
}

.ShowTable td{
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.TableBottom {
    border-bottom: 1px solid lightgray;
}

.TableRight {
    border-right: 1px solid lightgray;
}